canvas {
  overflow: hidden;
  border: 4px solid #ffffff;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools label {
  display: flex;
  gap: 5px;
}

.system-select button {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.system-select button:hover {
  background-color: #646464;
}

.system-select button.active {
  background-color: #0034ad;
}

.system-controls-panel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.system-controls-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}