.sketch-holder {
  margin: 32px 0;
  display: flex;
  gap: 32px;
  width: 100%;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
}

.sketch {
  border: 1px solid #d17237;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.canvas {
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 0px;
}

.sketch h4 {
  margin: 5px;
}

.sketch button {
  position: absolute;
  bottom: 12px;
  right: 12px;
  border: none;
  background: #242424;
  color: #ffffff;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity 150ms ease-in-out, scale 150ms ease-in-out;
}

.sketch button:hover {
  opacity: 1;
}

.sketch button:active {
  scale: 0.95;
}
