
canvas {
  /* border-radius: 16px; */
  overflow: hidden;
  border: 4px solid #ffffff;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brushes,
.settings {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
}

.brushes button {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.brushes button:hover {
  background-color: #646464;
}

.brushes button.selected {
  background-color: #0034ad;
}

.settings .color-picker {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
  overflow: hidden;
}

.settings input.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}

.settings input.color-picker:hover {
  background-color: #646464;
}


